$TTL 3600       ; 1 hour
dev.                IN SOA  skynet.internal.simplesimple.ca. spenser.simplesimple.ca. (
                                2009010101 ; serial
                                3600       ; refresh (1 hour)
                                3600       ; retry (1 hour)
                                604800     ; expire (1 week)
                                86400      ; minimum (1 day)
                                )
			NS	skynet.internal.simplesimple.ca.
