$ORIGIN .
$TTL 3600	; 1 hour
{{ item.1.name }}.dev		IN SOA	skynet.internal.simplesimple.ca. {{ item.1.name }}.simplesimple.ca. (
				1263528004 ; serial
				10800      ; refresh (3 hours)
				3600       ; retry (1 hour)
				604800     ; expire (1 week)
				38400      ; minimum (10 hours 40 minutes)
				)
			NS	skynet.internal.simplesimple.ca.
$ORIGIN {{ item.1.name }}.dev.
$TTL 3600	; 1 hour
*			CNAME	{{ item.1.name }}.dev.
