include "/etc/bind/dhcpupdate.key";

zone "internal.simplesimple.ca" {
  type master;
  file "/var/lib/bind/internal.simplesimple.ca.hosts";
  allow-update { key dhcpupdate; };
  notify yes;
};

zone "dev" {
  type master;
  file "/var/lib/bind/dev.tld.zone";
};

{% for dev in item.developers %}
zone "{{ dev.name }}.dev" {
  type master;
  file "/var/lib/bind/{{ dev.name }}.dev.hosts";
  allow-update { key dhcpupdate; };
};

{% endfor %}
zone "0.0.10.in-addr.arpa" {
  type master;
  file "/var/lib/bind/0.0.10.rev";
  allow-update { key dhcpupdate; };
};
