include "/etc/bind/dhcpupdate.key";

{% for domain, subnet in subnets.iteritems() %}
zone "{{ domain }}" {
  type master;
  file "/var/lib/bind/{{ domain }}.hosts";
  allow-update { key dhcpupdate; };
  notify yes;
};

{% if subnet.reverse|default(false) %}
zone "{{ subnet.reverse }}.in-addr.arpa" {
  type master;
  file "/var/lib/bind/{{ subnet.reverse }}.rev";
  allow-update { key dhcpupdate; };
};
{% endif -%}

{% endfor %}

zone "dev" {
  type master;
  file "/var/lib/bind/dev.tld.zone";
};
