include "/etc/bind/dhcpupdate.key";

zone "internal.simplesimple.ca" {
  type master;
  file "/var/lib/bind/internal.simplesimple.ca.hosts";
  allow-update { key dhcpupdate; };
};

zone "0.0.10.in-addr.arpa" {
  type master;
  file "/var/lib/bind/0.0.10.rev";
  allow-update { key dhcpupdate; };
};
