default-lease-time 86400;
max-lease-time 172800;

# Dynamic DNS
include               "/etc/dhcp/dhcpupdate.key";
ddns-updates          on;
ddns-update-style     interim;
ignore                client-updates;
update-static-leases  on;
update-conflict-detection false;

{% for domain, subnet in subnets.iteritems() %}
subnet {{ subnet.subnet }}.0 netmask 255.255.255.0 {
  range {{ subnet.subnet }}.{{ subnet.start }} {{ subnet.subnet }}.{{ subnet.end }};
  authoritative;

  option domain-name-servers {{ ansible_default_ipv4.address }}, 8.8.8.8, 8.8.4.4;
  option domain-name "{{ domain }}";
  option routers {{ subnet.subnet }}.1;
  option broadcast-address 192.168.0.255;
}

zone {{ domain }}. {
  primary 127.0.0.1;
  key dhcpupdate;
}

zone {{ subnet.reverse }}.in-addr.arpa. {
  primary 127.0.0.1;
  key dhcpupdate;
}

{% endfor %}
{% include 'hosts.conf.j2' %}
