default-lease-time 86400;
max-lease-time 172800;
option subnet-mask 255.255.255.0;
option broadcast-address 10.0.0.255;
option routers 10.0.0.1;
option domain-name-servers 10.0.0.5; #, 8.8.8.8, 8.8.4.4;
option domain-name "internal.simplesimple.ca";

# Dynamic DNS
include               "/etc/dhcp/dhcpupdate.key";
ddns-updates          on;
ddns-update-style     interim;
ignore                client-updates;
update-static-leases  on;
update-conflict-detection false;

zone internal.simplesimple.ca. {
  primary 127.0.0.1;
  key dhcpupdate;
}

zone 0.0.10.in-addr.arpa. {
  primary 127.0.0.1;
  key dhcpupdate;
}

{% for dev in item.developers %}
zone {{ dev.name }}.dev. {
  primary 127.0.0.1;
  key dhcpupdate;
}

{% endfor %}
# Network Servers - .0-.15
# Printers - .16-.24
# Dev Boxes - .25-.49
# Desktops - .200-.254

subnet 10.0.0.0 netmask 255.255.255.0 {
  range 10.0.0.100 10.0.0.150;
  authoritative;
} 

#
# Network Servers
#

host nas-dlink {
  hardware ethernet cc:b2:55:8a:f0:2f;
  fixed-address 10.0.0.68;
}



#
# Desktops
#

host pc-jeff {
  hardware ethernet 94:de:80:69:d0:ff;
  fixed-address 10.0.0.50;
}

host pc-johan {
  hardware ethernet 84:2b:2b:9d:bd:c1;
  fixed-address 10.0.0.52;
}

host pc-spenser {
  hardware ethernet ac:22:0b:75:e3:ba;
  fixed-address 10.0.0.69;
}



#
# Printers
#

host print-hl5370dw {
  hardware ethernet 00:1b:a9:86:27:21;
  fixed-address 10.0.0.16;
}

host print-quartzenergy {
  hardware ethernet 00:22:58:93:e6:65;
  fixed-address 10.0.0.17;
}



#
# Dev Boxes
#

host staging {
  hardware ethernet 08:00:27:09:e6:1a;
  fixed-address 10.0.0.25;
}
{% for dev in item.developers %}

host {{ dev.name }}.dev {
  option domain-name "";
  hardware ethernet {{ dev.mac }};
  fixed-address {{ dev.ip }};
}
{% endfor %}
