default-lease-time 600;
max-lease-time 7200;
option subnet-mask 255.255.255.0;
option broadcast-address 10.0.0.255;
option routers 10.0.0.1;
option domain-name-servers 8.8.8.8, 8.8.4.4;
option domain-name "local.simplesimple.ca";

# Dynamic DNS
include               "/etc/dhcp/dhcpupdate.key";
ddns-updates          on;
ddns-update-style     interim;
ignore                client-updates;
update-static-leases  on;

zone local.simplesimple.ca. {
  primary 127.0.0.1;
  key dhcpupdate;
}

zone 0.0.10.in-addr.arpa. {
  primary 127.0.0.1;
  key dhcpupdate;
}

# Network Servers - .0-.15
# Dev Boxes - .40-.50
# Desktops - .200-.254

subnet 10.0.0.0 netmask 255.255.255.0 {
  range 10.0.0.100 10.0.0.150;
  authoritative;
} 

#
# Network Servers
#

host nas-dlink {
  hardware ethernet cc:b2:55:8a:f0:2f;
  fixed-address 10.0.0.68;
}



#
# Desktops
#

host pc-jeff {
  hardware ethernet 94:de:80:69:d0:ff;
  fixed-address 10.0.0.50;
}

host pc-johan {
  hardware ethernet 84:2b:2b:9d:bd:c1;
  fixed-address 10.0.0.52;
}

host pc-spenser {
  hardware ethernet ac:22:0b:75:e3:ba;
  fixed-address 10.0.0.69;
}



#
# Dev Boxes
#

host dev-ben {
  hardware ethernet 08:00:27:f2:22:3b;
  fixed-address 10.0.0.66;
}

host dev-chad {
  hardware ethernet 08:00:27:8a:cc:02;
  fixed-address 10.0.0.81;
}

host dev-johan {
  hardware ethernet 08:00:27:59:56:d4;
  fixed-address 10.0.0.76;
}

host dev-mike {
  hardware ethernet 08:00:27:97:a6:99;
  fixed-address 10.0.0.93;
}

host dev-spenser {
  hardware ethernet 08:00:27:fb:f3:3c;
  fixed-address 10.0.0.87;
}
